@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto+Slab:wght@500&family=Roboto:wght@400;500&display=swap');

*, *::before, *::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

html, body {
    min-height: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h1, h2 {
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 12rem 1fr;
}

/* Sidebar */

.sidebar {
    grid-row: 1 / -1;
    background-color: #1e1b4b;
    color: white;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 4rem;
    padding: 2rem;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.sidebar h1 {
    font-size: 2rem;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
}

.sidebar svg {
    fill: white;
    width: 1.75rem;
    height: auto;
    justify-self: center;
}

.sidebar .logo svg {
    width: 3.5rem;
}

.sidebar > div > div {
    display: grid;
    grid-template-columns: 3.5rem 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
}


/* Header */

.header {
    grid-column: 2 / -1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 3rem 5rem;
    gap: 2rem;
    padding: 1rem 2rem;
    box-shadow: 1px 4px 4px lightgray;
    z-index: 1;
}

.header-top {
    grid-row: 1;
    display: grid;
    grid-template-columns: 3rem 1fr 3rem 3rem 10rem;
    gap: 2rem;
    align-items: center;
    margin-right: 4rem;
    font-size: 2rem;
}
.header-top img {
    width: 2rem;
    height: auto;
    justify-self: center;
}
.header-top .profile {
    width: 3.5rem;
    height: auto;
}
.header-top input {
    border: none;
    border-radius: 2rem;
    width: 80%;
    background-color: #e0e7ff;
    font-size: 2rem;
}
.header-bottom {
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: start;
}

.current-user {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    font-weight: 500;
    gap: 1rem;
}
.current-user > img {
    width: 5rem;
    height: auto;
}
.current-user .username {
    font-size: 2rem;
}
.header-btns {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
    margin-right: 4rem;
}
.header-btns button {
    border: none;
    background-color: #1e1b4b;
    border-radius: 2rem;
    color: white;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
}

/* Main Section */

.main {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: #eef2ff;
    display: grid;
    grid-template-columns: 1fr 25rem;
    grid-template-rows: 28rem 1fr;
    padding: 1rem;
}

.project-container {
    margin: 1rem;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.projects > div {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    border-left: 0.5rem solid rgb(255, 204, 111);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.img-container {
    justify-self: end;
    align-self: end;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.projects img {
    width: 2rem;
    height: auto;
}

.projects, .announcements, .trending {
    margin-top: 0.5rem;
}

.main p {
    color: gray;
    margin-top: 0.25rem;
}

/* Announcements */

.announcement-container {
    margin: 1rem;
    display: grid;
    grid-template-rows: 2rem 25rem;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: white;
    gap: 1rem;
}

 .announcements .bordered {
    border-top: 2px solid lightgray;
    padding-top: 1rem;
} 

.announcements h2 {
    font-size: 1.125rem;
}

.announcements p {
    font-size: 0.875rem;
}

/* Trending */

.trending-container {
    margin: 2rem 1rem 1rem;
    display: grid;
    grid-template-rows: 2rem 1fr;
    align-content: start;
}

.trending {
    display: grid;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    gap: 2rem;
}

.trending > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
